.container--info {
  padding-block-start: 2.5rem;
  min-width: 16rem;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.info-card {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--blue-500);
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

@media (hover: hover) {
  .info-card:hover {
    background-color: hsl(235, 45%, 40%);
  }
}

.info-card .timeframe {
  color: var(--blue-100);
}

.container--info button {
  background-color: transparent;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  cursor: pointer;
  padding: 0.5em;
}

.container--info button svg path {
  transition: fill 150ms ease-in-out;
}

@media (hover: hover) {
  .container--info button:hover svg path {
    fill: white;
  }
}
